*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
/*MENU*/
.nav {
  display: flex;
  justify-content: space-between;
  background-color: #334752;
  height: 90px;
}
.ul {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  width: 50%;
}
li a {
  color: #EFA83C;
  background-color: #334752;
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
}
.logo {
  padding-left: 2rem;
  padding-top: 1rem;
  text-transform: uppercase;
  font-size: 3rem;
  color: #EFA83C;
  font-family: 'Monoton', cursive;

}
ul li a:hover {
  background-color: #241a0e;
  color: #ffffff;
}
body{
  background-color: lightgrey;
  font-family: sans-serif;
}
.imagenPortada {
  height: 80vh;
  background-image:url(../img/guitarrista\ portada1.jpg);
  background-size: cover;
  background-position:center;
  color: #E8DEC2;
  align-items: baseline;
  display: flex;
  padding-top: 2rem;
}
.textoInterior {
  padding: 3rem;
  padding-top: 1rem;
  font-family: 'Bebas Neue', cursive;
}
h1 {
  font-size:  5rem;
  margin-bottom: 1rem;
}
p {
  margin-top: 1rem;
  font-size: 3rem;
}
.parte1 {
  background-color: #334752;
  padding: 1rem 10rem 1rem 10rem;
  text-align: center;
  margin: 0;
  color: #E8DEC2;
  text-transform: uppercase;
}
.parte2 {
  height: 70vh;
  background-color: black

}
.parrafoUno {
  font-size: 1.7rem;
  font-family: 'Bebas Neue', cursive;
}
.player {
  display: flex;
  height: 70vh;
  width: auto;
  justify-content: space-around;
  border-radius: 25px;
}
.frase {
  color: #E8DEC2;
}
.footer {
  width: 100%;
  height: 15vh;
  background-color: black;
}

/*sliderGaleria*/
.container{
  margin: auto;
  background-color: #84624D;
  width: 800px;
  padding: 30px;
}
ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.slider{
  position: relative;
  width: 800px;
  height: 300px;
}
ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity .5s;
  background-color: #84624D;
}
ul.slider li img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
ul.slider li:first-child {
  opacity: 1;
}
ul.slider li:target {
  opacity: 1;
}
.menu{
  text-align: center;
  margin: 20px;
}
.menu li{
  display: inline-block;
  text-align: center;
}
.menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

/*artistas*/
.artistas {
  display: flex;
  justify-items: center;
  height: 150vh;
  background-color: black;
}


